.portfolio {
    max-width: 800px;
    width: 100%;
    padding: 10px;
    margin-top: 10%;
    padding: 20px;
    &__header {
        font-size: 35px;
        font-weight: 700;
        margin: 0px;
        line-height: 20px;
        margin-bottom: 20px;
        color: #ca2f1d;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
    &__view-more {
        font-weight: 600;
        font-size: 26px;
        &:hover {
            color: gray;
        }        
    }
    &__detail {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__project {
        // display: flex;
        width: 100%;
        @media (min-width: 1100px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__image {
            max-width: 380px;
            width: 95%;
            margin: 20px 0px;
            height: 250px;
            margin-top: 15px;   
            box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
            cursor: pointer;
            position: relative;
            opacity: 1;
            overflow: hidden;
            border: 1.5px rgb(255, 255, 255) solid;
            border-radius: 3px;
            img {
                transition: 1s;
            }
            &:hover {
                box-shadow: none;
                img {
                    zoom: 100%;
                    opacity: 0.9;
                    transform: scale(1.1);
                    filter: brightness(40%);
                }
            }
            &:hover &__view {
                top: 10%;
                left: 5%;
            }
            &:hover &__discription {
                bottom: 10%;
                left: 5%;
            }

            &__view {
                position: absolute;
                top: -100%;
                width: 100%;
                display: flex;
                transition: 0.4s;
                // transform: translateY(-100%)
            }
            &__discription {
                position: absolute;
                // display: flex;
                // flex-direction: column;
                margin-right: 5px;
                bottom: -100%;
                width: 100%;
                line-height: 20px;
                font-size: 19px;
                font-weight: 400;
                transition: 0.4s;
                color: white;
                &__name {
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 13px;
                }
            }             
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
            }
        }
        &__details {
            margin-left: 0px;
            @media (min-width: 1100px) {
                margin-left: 18px;
            }
        }
    }
}
.line {
    width: 100%;
    height: 2px;
    background-color: rgb(182, 182, 182);
    margin: 10px 0px 20px;
}