.nav {
    max-width: 1000px;
    position: relative;
    &__items {
        // display: flex;
        // justify-content: space-between;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    &__menu-button {
        display: flex;
        cursor: pointer;
    }
}