.App {
  text-align: center;
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #0e0e0e
}
.highlight {
  color: #ca2f1d;
}
.menu-button {
    cursor: pointer;
    z-index: 1500;
    position: absolute;
    top: 7%;
    right: 3%;
    fill: #aeaeae;
    transition: 1s;
    &__toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        animation: toggle-body 1.2s forwards;
        .item {
            background-color: rgb(182, 182, 182);
            transition: all 1s ease-in;
        }
        .item--1 {
            animation: nav-item 0.3s forwards;
            margin-bottom: 0px;
        }
        .item--2 {
            animation: nav-item 0.3s forwards;
        }
        .item--3 {
            animation: nav-item 0.3s forwards;
        }
    }
    &__toggle--close{
        height: 30px;
        width: 50px;
        .item {
            background-color: rgb(182, 182, 182);
            height: 3px;
            width: 40px;
            transition: all 1s ease-in;
        }
        .item--1 {
            animation: close-right 1s forwards;
            margin-bottom: -5px;
        }
        .item--2 {
            animation: close-middle 1s forwards;
        }
        .item--3 {
            animation: close-left 1s forwards;
        }
    }
}
@keyframes toggle-body {
    from {
        height: 0px;
    }

    to {
        height: 20px;
    }
}
@keyframes nav-item {
    from {
        height: 0px;
   }
    to {
        height: 3px;
    }
}
@keyframes menu-button {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
}
@keyframes  close-right {
    from { transform: rotate(0deg);   transform-origin: left bottom;}
    to { transform: rotate(136deg); }
}
@keyframes  close-middle {
    0% { opacity: 1;  transform-origin: center center;}
    10% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes  close-left {
    from { transform: rotate(0deg);  transform-origin: left top;}
    to { transform: rotate(-136deg); }
}

.wrapper {
    .awssld__bullets {
        display: none;
    }
    .awssld__wrapper {
        height: 100vh;
    }
    .awssld__content {
        height: 100vh;
        // awssld__content
    }
    .awssld__container {
        height: 100vh;
    }
    .awssld__content {
        background-color: rgb(241, 241, 241);
        overflow: scroll;
        width: 100%;
        align-items: flex-start;
    }
    // &--white {
    //     .awssld__content {
    //         background-color: rgb(241, 241, 241);
    //         overflow: scroll;
    //         width: 100%;
    //         align-items: flex-start;
    //     }        
    // }
}


.btn {
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
    &--sm {
        padding: 5px;
        font-size: 14px;
    }  
}

// tags
.tags {
    display: flex;
}
.tag {
    text-align: center;
    border: solid 0.8px white;
    line-height: 100%;
    margin-right: 10px;
    min-width: 35px;
    &--sm {
        font-size: 14px;
        padding: 4px;
    }
    &--md {
        font-size: 17px;
        padding: 6px; 
        font-weight: 400;       
    }
    &--button {
        color: white;
        &:hover {
            background-color: white;
            color: inherit;
        } 
    }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// .App-header {
//   background-color: #282c34;
//   min-height: 60px;
//   display: flex;
//   /* flex-direction: column; */
//   /* align-items: center;
//   justify-content: center; */
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
