.introduction {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    display: flex;
    margin-top: 60%;
    align-items: center;
}
#name-intro {
    animation: name 3s ease forwards;
    width: 100%;
}
#profession {
    animation: profession 2s ease forwards;
    width: 100%;
}
#introduction__button {
    border: none;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #534842;
    animation: introductionButton 4s ease forwards;
    cursor: pointer;
    transition: 0.7s;
}
#introduction__button:hover {
    background-color: #d2b8ab;
    color: white; 
}
@keyframes name {
    0%{ 
        margin-bottom: 300px; 
        opacity: 0; 
    }
    30%{ 
        opacity: 0.6; 
    }
    100%{ margin-bottom: 0px; width: 1; opacity: 1;}
}
@keyframes profession {
    0%{ 
        opacity: 0;

    }
    50%{ 
        opacity: 0;

    }
    100%{ opacity: 1; margin-top: 0px;}
}
@keyframes introductionButton {
    0%{ opacity: 0;}
    70%{ opacity: 0;}
    100%{ opacity: 1;}
}